.projects {
  padding: var(--section-padding) 0;
  background: var(--bg-secondary);
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}


.skills {
  padding: var(--section-padding) 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.languages {
  padding: var(--section-padding) 0;
  background: var(--bg-secondary);
}

.languages-grid {
  max-width: 600px;
  margin: auto;
}
.beyond {
  padding: var(--section-padding) 0;
}


/* GRID */
.beyond-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  align-items: stretch;
}

/* CARD */
.beyond-card {
  text-align: center;
}

/* CONTENEDOR DE IMAGEN */
.beyond-emoji {
  width: 180px;
  height: 180px;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IMAGEN */
.beyond-emoji img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-image {
  width: 100%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.about {
  padding: 6rem 0;
}

.about-container {
  max-width: var(--container-max);
  margin: 0 auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 3rem;
  align-items: center;
}

.about-image img {
  width: 100%;
  border-radius: 16px;
}

