.projects {
  padding: var(--section-padding) 0;
  background: var(--bg-secondary);
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}


.skills {
  padding: var(--section-padding) 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.languages {
  padding: var(--section-padding) 0;
  background: var(--bg-secondary);
}

.languages-grid {
  max-width: 600px;
  margin: auto;
}
.beyond {
  padding: var(--section-padding) 0;
}

/* GRID */
.beyond-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  align-items: stretch;
}

/* CARD */
.beyond-card {
  text-align: center;
}

/* CONTENEDOR DE IMAGEN */
.beyond-emoji {
  width: 180px;
  height: 180px;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IMAGEN */
.beyond-emoji img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
